{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<div class="container bg-opacity py-5 ">

    

		<div class="container mb-5">

			<!-- Three columns -->
			<div class="row {# text-center #} justify-content-around ">

				<div class="col-sm-2 ">
					<img class=" card-img-top {# bd-placeholder-img #} {# rounded-circle #} {# img-responsive #} {# img-fluid max-width: 100%; #}" {# width="140" height="140"  #}src="./assets/img/simon-robben.jpg">
			
					<h2 class="mt-3">Maxime</h2>
					<p>Lead Dev Back</p>
					<p>Git Master</p>
		
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-sm-2">
					<img class="card-img-top img-responsive" src="./assets/img/Stephane.jpg">
			
					<h2 class="mt-3">Stéphane</h2>
					<p>Dev Back</p>
					<p>Scrum Master</p>
	
				</div>
				<!-- /.col-lg-4 -->
				<div class="col-sm-2">
					<img class="card-img-top img-responsive"  src="./assets/img/Olivier.png">
			
					<h2 class="mt-3">Olivier</h2>
					<p>Product Owner</p>
					<p>Lead Dev Front</p>

				</div>
				<!-- /.col-lg-4 -->
		
			</div>

		</div>
{% endblock %}
