{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content %}
    <div class="jumbotron">
        <h1>Administration</h1>
        <p>Bienvenue dans l'interface d'administration d'Easy Sport Tests</p>
    </div>
{% endblock %}