{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
{% for player in players%}
<p>{{player.user.firstname}} : {{ form_widget(form) }}    <button class="btn">{{ button_label|default('Save') }}</button></p>
{% endfor %}
{{ form_end(form) }}
{% endblock %}