{% extends 'base.html.twig' %}

{% block body %}
  <h1> Page non trouvée </h1>

  <p>
    La page demandée ne peut pas être trouvée. Vérifiez votre url ou <a href = "{{ path('homepage') }}"><span>retourner à l'accueil.<span></a>
  </p>

  {% endblock %}