{% extends 'base.html.twig' %}

{% block body %}

  <div class="container-fluid bg-opacity">
    <div class="row">
        <div class="col-lg-6  text-center">
            <h1 class="mt-5">Accès Refusé</h1> <h2 class="my-5">Erreur 403</h2>
            <h4>
              Vous ne pouvez pas accéder à cette page. <a href = "{{ path('homepage') }}"><span>Retournez à l'accueil.<span></a>
            </h4>
        </div>
    </div>
</div>

        
  
  {% endblock %}